@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /*font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,*/
  /*  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  @apply font-sans;
  font-weight: 400;
  overflow-y: scroll;
  /* position: absolute; */
}
input,
textarea,
::placeholder {
  @apply font-sans;
}

@layer base {
  * {
    @apply font-sans;
  }
}

/*  */

html {
  --scrollbarBG: #f0f2f5;
  --thumbBG: #bcc0c4;
  --display: none;
  /* overflow-y: scroll;
  position: absolute;
  display: hidden;
  opacity: 0; */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 13px;
  display: var(--display);
}

.custom-scrollbar:hover::-webkit-scrollbar {
  display: inline;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}


.input-scrollbar::-webkit-scrollbar {
  width: 13px;
}

.input-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.input-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

.input-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.privacy-scrollbar::-webkit-scrollbar {
  width: 13px;
}

.privacy-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.privacy-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.privacy-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}



/* custom scrollbar pro vip */
.custom-scrollbar-vip::-webkit-scrollbar {
  width: 12px;
  display: inline;
}

.custom-scrollbar-vip {
  scrollbar-width: thin;
}

.custom-scrollbar-vip::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar-vip::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 6px;
  border: 3px solid transparent;
}

.custom-scrollbar-vip:hover::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border: 3px solid var(--scrollbarBG);
}


.arrow-box-top {
  position: relative;

}

.arrow-box-top:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: white;
  border-width: 0 0 15px 17px;
  margin-left: 143px;

  border-style: solid;
  filter: drop-shadow(1px -4px 3px rgba(163, 163, 163, 0.25));
}

.arrow-box-bottom {
  position: relative;

}

.arrow-box-bottom:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  border-width: 10px;
  margin-left: -10px;

  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: white;

  border-width: 0 15px 17px 0;
  margin-left: 143px;
  transform: rotate(-180deg);
  border-style: solid;
  filter: drop-shadow(1px -4px 3px rgba(163, 163, 163, 0.55));
}

/* BEGIN: animation spinner */

.spinner-loader-circle {
  position: relative;
  margin: 0 auto;
}

.spinner-loader-circle:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.spinner-circular {
  animation: spinner-rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.spinner-path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: spinner-dash 1.5s ease-in-out infinite, spinner-color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes spinner-color {

  100%,
  0% {
    stroke: #da3e3e;
  }

  40% {
    stroke: #0057e7;
  }

  66% {
    stroke: #cad829;
  }

  80%,
  90% {
    stroke: #2844d3;
  }
}

/* END: animation spinner */